<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCulTLGs_2jJUdMxBKgt__naWYU4WSDCLM</string>
	<key>GCM_SENDER_ID</key>
	<string>315786623768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pdoject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>esp32-kr-swelys</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32-kr-swelys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315786623768:ios:5a337700f89b1232fffc6d</string>
	<key>DATABASE_URL</key>
	<string>https://esp32-kr-swelys-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>